</main>


<script src="/javascripts/main.js"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="/javascripts/plugins/pace.min.js"></script>
<script src="/javascripts/plugins/moment.min.js"></script>
<script src="/javascripts/plugins/jquery.dataTables.min.js"></script>
<script src="/javascripts/plugins/dataTables.bootstrap.min.js"></script>
<script src="/javascripts/plugins/bootstrap-datepicker.min.js"></script>
<script src="/javascripts/plugins/bootstrap-notify.min.js"></script>
<script src="/javascripts/plugins/chart.js"></script>
<script src="/javascripts/plugins/dataTables.bootstrap.min.js"></script>
<script src="/javascripts/plugins/dropzone.js"></script>
<script src="/javascripts/plugins/fullcalendar.min.js"></script>
<script src="/javascripts/plugins/jquery-ui.custom.min.js"></script>
<script src="/javascripts/plugins/jquery.dataTables.min.js"></script>
<script src="/javascripts/plugins/jquery.vmap.min.js"></script>
<script src="/javascripts/plugins/jquery.vmap.sampledata.js"></script>
<script src="/javascripts/plugins/jquery.vmap.world.js"></script>
<script src="/javascripts/plugins/select2.min.js"></script>
<script src="/javascripts/plugins/sweetalert.min.js"></script>
<script src="/javascripts/plugins/jquery.formatDateTime.js"></script>
<!-- <script src="/javascripts/plugins"></script>
<script src="/javascripts/plugins"></script>
<script src="/javascripts/plugins"></script> -->
<script src="/ajax/actividades.ajax.js"></script>